/* 
Lava            #C31D28
Gunmetal        #272F3F
Light Cyan      #E5FCF5
Green RYB       #76B041
Sap Green       #3F612D */

h1 {
    color: #272F3F;
}

body {
    background-color: #527E3A;
    font-family: 'Comfortaa', cursive;
}

table {
    border: solid #272F3F;
    width: 600px;
    border-radius: 10px;
}

thead {
    background-color: #3DA5D9;
}

td {
    background-color: #E5FCF5;
}

.red {
    background-color: #C31D28;
}